<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div>
        <div class="navbar bg-base-100">
          <div class="flex-1">
            <a class="btn btn-ghost normal-case text-3xl" href="/">Lego Collection</a>
          </div>
      
          <div class="dropdown dropdown-left">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">        
              <li><a class="active" href="/about">About</a></li>
              <li>
                <details>
                  <summary>
                    Theme
                  </summary>
                  <ul class="p-2 bg-base-100">
                    <li><a href="/lego/sets?theme=Books">Books</a></li>
                    <li><a href="/lego/sets?theme=Playhouse">Playhouse</a></li>
                    <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
          
          <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
              <li><a class="active" href="/about">About</a></li>
              <li>
                <details>
                  <summary>Theme</summary>
                  <ul class="p-2 bg-base-100 right-0">
                    <li><a href="/lego/sets?theme=Books">Books</a></li>
                    <li><a href="/lego/sets?theme=Playhouse">Playhouse</a></li>
                    <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
        </div>
      
        <div class="container mx-auto">
            <div class="hero min-h-fit bg-base-200">
                <div class="hero-content flex-col lg:flex-row-reverse">
                  <img src="https://wallpapers.com/images/hd/danbo-box-robot-playing-soccer-hd-pd3biabb91j84brd.webp" class="max-w-sm rounded-lg shadow-2xl" />
                  <div>
                    <h1 class="text-2xl font-bold">I'm glad you wanted to know about me.</h1>
                  </div>
                </div>
              </div>
              <br /><br /><br />
              <br />
            <div class="grid">
              <div class="flex flex-col w-full lg:flex-row">                    
                <div class="grid flex-grow h-72 bg-base-300 rounded-box place-items-center">
                        <img src="https://images5.alphacoders.com/770/770520.jpg" class="max-w-md rounded-lg shadow-2xl" />
                    </div>
                    <div class="divider lg:divider-horizontal" ></div>
                    <div class="grid flex-grow h-72 card bg-base-300 rounded-box text-center place-items-center">
                        <p>Hello, My name is Amitoj. Im in BSD program at Seneca College. <br> <br>
                          I'm a soccer fan. My favorite soccer club is Real Madrid, Spain. <br> <br>
                          It's one of the most famous and well-renowed club of this century.</p>
                    </div>
                  </div>
            </div>
          </div>
    
        </div>
      </div>
</body>
</html>